<form class ="form-group" action="/answer">
<p class="cursive">Ask your coach anything</p>
  <div class="formbox">
    <input class="input-group-text" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
